

body{
    margin:0%;
    padding: 0%;
}
#navbar{
    

    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
    margin-top:20px;

}
#navbar>div{
  
  
   display:flex;


  
}
#first{
    
 

    justify-content: space-evenly;
  
    font-weight: bold

}
#second{
  
    justify-content: space-evenly;


    font-weight: bold
   
}

#second>div{
    
 
    text-align: center;
}
#get{
    border-radius:25px;
    padding:2px 30px;
background-color: #0037fd;
color:white;

   
}
#get:hover{
   
}
#first>div:hover{
    text-decoration:underline;
    color:rgb(47, 1, 211)
    
}
#second>div:hover{
    text-decoration:underline;
    color:rgb(47, 1, 211)
    
}


#unlock{
    width:90%;
  
 
    margin:auto;
    margin-top:1%;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,auto);
}
#unlock>div{

  
}
#unlock h1{
    font-size: 70px;
}
#unlock p{
    font-size:25px;
    line-height:35px
}
#get1 a{
    color:white;
}



#video{
  
  
    width:100%;
    margin-top:1%;

    border-radius: 15px;
    margin-left:70px
   
    
}
#company{
    width:90%;
    
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,auto);
    gap:20px;
}
#company>div{

    text-align: center;
}
#moco>img{
    width :50%;
}
#stories{
    margin: auto;
    
    width: 25%;
    margin-top: 20px;

}
#stories>button{
    font-size: 15px;
    border-radius: 25px;
    margin-left:70px;
    color:blue;
    font-weight: bold;
    text-align: center;
    padding:15px 32px;
    
    background-color: #ccd7ff 
 
}
#stories>button:hover{
    background-color:#0037fd ;
    color:white;
}
#digital{
  
  width:100%;
    display:grid;
   
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,400px);
margin:auto;
 
    margin-top:80px;
    
}
#digital:nth-child(1){
margin:auto;
}
#digital>div{
  
   color:white;
     background-color:#080736;
}
#digital>#h{
text-align:center;
    background-color:#0037fd;
   
 
}
#digital>#blue>div{
    text-align: center;
    color:white;
    ;

height:70%
}





#digital>#h>div>p{
font-size: 20px;
line-height:30px;
color:white;
}
#cat{

display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: repeat(1,500px);
margin:auto;
background-color:#861dff;
width:100%;
gap:70px;
color:white;


}

#cat1{
   
display: grid;
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(5,auto);
gap:5px;
width:60%;
margin:auto;


}
#second p{
color:black;
}
#get p{
    color:white
}
#cat1>div{
  
    text-align: center;
    border-radius: 15px;
    background-color:#861dff;
    border:2px solid white;
    text-align: center;
    font-weight: bold;
    
}
#cat1>div:hover{
    background-color:white;
    color:#861dff;
    font-weight: bold;
} 
#cms{
    display: flex;
    justify-content: space-evenly;
  
}
#cms>div{
   
    border-radius: 15px;
    border:1px solid white;
    width:50%
}
#cms>div:hover{
    background-color:blue;
    color: white;
}
#multi{
    display: flex;
   justify-content: space-evenly;
  
}
#multi>div{
    
    border-radius: 15px;
    
    border:1px solid white
  
}
#multi>div:hover{
    background-color: blue;
    color:white;
    
}
#video+h1{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}
#cat h1{
    text-align: center;
}

#latest{
 

    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,auto);
    gap:20px;
    width:90%;
    margin:auto;


}
#latest>div{
 
    line-height: 25px;
   
}
#change{
    
    width:90%;
    display:grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,500px);
    gap:20px;
    margin:auto;
    margin-top: 50px;
}
#change>div{

    

    background-color: #080736;
    padding-left: 60px;
    padding-top: 40px;
}
#change h1{
    font-size: 50px;
    color: yellow;
}
#change>:nth-child(2){
    background-color: #861dff;
}
#change>:nth-child(3){
    background-color: #0037ff;
}
#change p{
    font-size: 20px;
}
#formbox{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,500px);
    gap:20px;
    width: 90%;
    margin:auto;
    margin-top:40px;
    margin-bottom:40px;
    color:white;
  
    
}
#change p{
    color:white;
}
#latest h3{
    color:#0339ff 
}
#latest h2:hover{
    color:#0039ff
}
#latest h3:hover{
    color:black;
}
#formbox>div{
  
    line-height: 30px;
}
#formbox>:nth-child(1){
background-color:   #080736;
padding-left: 60px;

}

#formbox>:nth-child(2){
    background-color:#3be081;
    padding-left:40px;
    text-align: left;
} 

#submit{
font-size: 18px;
/* margin-left: 25%; */
margin-top: 20px;
border-radius: 25px;
background-color:#0037ff;
padding:11px 32px;
color:white;


}
#submit:hover{
font-size: 25px;
background-color: blue;
}
#lastbar{
display:grid;
grid-template-columns: repeat(1,1fr);
grid-template-rows: repeat(2,auto);
margin:auto;
color:white;

}
#lastbar>div{

}
#lastbar>:nth-child(1){
display: grid;
grid-template-columns: repeat(5,1fr);
grid-template-rows: repeat(1,auto);
gap:20px;
background-color: #080736 ;
}
#lastbar>:nth-child(1)>div{

line-height: 25px;
padding-left:30px;

}
#formbox+div>img{
height:100px
}
#formbox+div{
background-color: #080736 ;
}
#lastbar>:nth-child(1)>div>p:hover{

    text-decoration:underline;
    color:white;
    

}
#lastbar>div{

}
#last{

width: 100%;
display:flex

}
#last>div{

 width:50%;
;
display:flex;


background-color: #393a5d;

}
#last>div:nth-child(2){

justify-content: space-around;

}
#cat+h1{
margin-left: 70px;
}
a{
text-decoration: none;
color:black
}
form>#em>input{
width:80%
}
form>div>input{
margin-top:20px;
padding:15px;
font-size: 15px;
background-color: #3be081;
border-radius: 15px;


}
form>div>input:hover{
background-color: yellow; 
/* font-size: 20px; */
color:black;
}


@media all and (min-width:320px) and (max-width:768px){
#formbox{
  
    grid-template-columns: repeat(1,1fr);
   

}
form>#em>input{
width:50%
}
#video{
  
  
  width:70%;
  margin-top:1%;

  border-radius: 15px;
  margin-left:70px
 
  
}
#navbar{
    

    
 
    grid-template-columns: repeat(1,1fr);
   

}
#company{
  
    grid-template-columns: repeat(2,1fr);
  
}
#digital{
  
  width:100%;
  grid-template-columns: repeat(1,1fr);

  
}
#cat{

width:100%;
padding-left:20px;
grid-template-columns: repeat(1,1fr);


}
#change{
    

    grid-template-columns: repeat(1,1fr);
  
   
}
#lastbar{

grid-template-columns: repeat(1,1fr);


}
#digital{
  
  margin:10px;
  grid-template-columns: repeat(1,1fr);

  
}
#unlock{
 
    grid-template-columns: repeat(1,1fr);
   
}
#latest{

grid-template-columns: repeat(1,1fr);


}

}



@media all and (min-width: 769px) and (max-width: 1024px) {
#formbox{
  
  grid-template-columns: repeat(1,1fr);


}
#unlock{
 
 grid-template-columns: repeat(1,1fr);

}
form>#em>input{
width:62%
}
#video{
  
  
  width:70%;
  margin-top:1%;

  border-radius: 15px;
  margin-left:70px
 
  
}
#navbar{
    

    
 
    grid-template-columns: repeat(1,1fr);
   

}
#latest{

 grid-template-columns: repeat(1,1fr);


}
#company{
  
  grid-template-columns: repeat(2,1fr);

}
#digital{
  
  
  grid-template-columns: repeat(1,1fr);

  
}
#cat{




width:100%;
padding-left:20px;
grid-template-columns: repeat(1,1fr);







}
#change{
  

  grid-template-columns: repeat(1,1fr);

 
}
#lastbar{

grid-template-columns: repeat(1,1fr);


}
  }


  #hidd{
display:none;
width:60%;
padding:20px;
font-size: 20px;
margin:auto;
background-color: white;
border-radius: 15px;
outline: #0037fd;
font-weight: bold;
border:15px solid  #0037fd;

margin-left: 10%;


}
#logo{
display: none;
padding:10px
}
#cross{
display: none;
padding-right: 20%;
font-size: 100px;
color:black;
font-weight: bold;

}
#searchbar{
display:flex;
color:white;
justify-content: center;
background-color: white;

}
#logintext{
  
    display:none;
 position: absolute;


 width:15%;
 height: 300px;
margin: auto;
margin-left:70%;
padding-top: 10px;
padding-left:30px;
background-color: white;
color:#083dff  ;
box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;


}
#logintext h3:hover{
    color: black;
 
}
