body{
    margin:0px;
    padding: 0px;
}
#main{
    display:grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(1,600px);
    gap:20px;

}

#main>div{
  
    text-align: center;
   
}
#main>:nth-child(2){
    background-color: 
    #5420a2 ;
}
#main>:nth-child(2)>img{
    width:90%;
}
#thankyou{
    display:grid;
    grid-template-columns: repeat(1,1fr);
    grid-template-rows: repeat(3,200px);
    padding-left: 40px;
    gap:15px
}
#thankyou>div{
  
    text-align: left;
}
#thankyou>div h3{
    line-height: 35px;
}
#out{
    display: flex;
 
    justify-content: space-around;
    align-items: center;
}
#out>div{
    border:3px solid black;
    width:45%;
    height:70px;
    display:flex;
   
    justify-content: space-evenly;
    background-color: rgb(255, 244, 244);
    border-radius: 10px;
    
}
#out>div:hover{
    background-color: rgb(173, 160, 160);
}
#out+div>div{
    border:1px solid #905fa6 ;
   width:30%;
   height: 60px;;
   color:#905fa6 ;
   display: flex;
   justify-content: center;
   align-items: center;
   border-radius: 10px;
   font-weight: bold;
}
#out+div>div:hover{
    background-color:#5420a2;
    color:white;
    font-weight: bold;
   
}
@media all and (min-width:320px) and (max-width:700px){
    #main{
        width:100%;
        grid-template-columns: repeat(1,1fr);
 
       
    
    }
}
@media all and (min-width:701px) and (max-width:1020px){
    #main{
        width:100%;
        grid-template-columns: repeat(1,1fr);
 
        
    
    }
}
